{% extends 'layout.html' %}
{% block content %}
<div class="container">

    <div>
        <img src="https://www.cer.eu/sites/default/files/styles/spotlight/public/corona_econ_bull_sl.jpg?itok=pzCGwCIM"
             style="width: 1500px; height:400px">
    </div>
    <hr>
   <h1 style="color: #9C1A1C; font-family: cursive ">What is Corona virus?</h1>
   <div class="col-lg-8" style="font-size: medium ;font-family: Calibri;text-align: justify;">
    <li>
       coronaviruses are a type of virus. There are many different kinds, and some cause disease. A newly
identified coronavirus, SARS-CoV-2, has caused a worldwide pandemic of respiratory illness, called
COVID-19.</li>
       <li>Coronaviruses are named for the crown-like spikes on their surface. There are four main sub-groupings
of coronaviruses, known as alpha, beta, gamma, and delta</li>
       <li>Sometimes coronaviruses that infect animals can evolve and make people sick and become a new
human coronavirus. Three recent examples of this are 2019-nCoV, SARS-CoV, and MERS-CoV.</li>
       <li>As of now, researchers know that the new coronavirus is spread through droplets released into the air
when an infected person coughs or sneezes. The droplets generally do not travel more than a few feet,
and they fall to the ground (or onto surfaces) in a few seconds — this is why physical distancing is
effective in preventing the spread.</li>

   </div>
   <div class="col-lg-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNf-sITqC5Z9-IPyfvkoNZ-BmGWvSWJ0a1vQ&usqp=CAU">
   </div>

    <div class="col-lg-12"  style="font-size: medium ;font-family: Calibri;text-align: justify;margin-top: 0.3%">
          <h2 style="color: #9C1A1C; font-family: cursive ">COVID-19 pandemic in the United States</h2>
    <li>On December 31, 2019, China announced the discovery of a cluster of pneumonia cases in Wuhan.
        The first American case was reported on January 20, and President declared the U.S. outbreak a public health emergency on January 31.
        Restrictions were placed on flights arriving from China but the initial U.S. response to the pandemic was otherwise slow, in terms of preparing the healthcare system, stopping other travel, and testing for the virus.
        Meanwhile, President threat posed by the virus and claimed the outbreak was under control.</li>
    <li>The first known American deaths occurred in February, but were not known to be caused by COVID-19 until April. By mid-April, cases had been confirmed in all fifty U.S. states,
        the District of Columbia, and by November in all inhabited U.S. territories.</li>
        <li>State and local responses to the outbreak have included prohibitions and cancellation of large-scale gatherings (including festivals and sporting events), stay-at-home orders, and the closure of schools.
           </li>
        <li> Day by day more than 20 states were infected with Corona virus and now the U.S. passed 15 million cases, with about one out of every 22 Americans having tested positive since the pandemic began.
            On December 14, the U.S. passed 300,000 deaths, representing an average of more than 961 deaths per day since the first known death on February 6; more than 50,000 deaths were reported in the past month, with an average of 2,403 daily deaths in the United States from Covid-19 in the past week.</li>
        <li>In November, the Trump administration reached an agreement with a number of retail outlets, including pharmacies and supermarkets, to make the COVID-19 vaccine free once available.</li>
    </div>
</div>
{% endblock %}
